<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="ISO-8859-1">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<link href="css/home.css" rel="stylesheet">
<link href="css/header.css" rel="stylesheet">
</head>
<body>
 <div th:insert="fragment/header::menubar"></div>
 <br>
 <br>
<div class="container text-center">
	<div>
		<h1>Customer Request for test drive</h1>
	</div>
	<br>
	<br>
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Car Reg.no</th>
					<th>Date</th>
					<th>Time</th>
					<th>User Email</th>
					
					<th>Actions</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bookkdrive: ${bookkdrive}">
					<td th:text="${bookkdrive.car_regNum}">User ID</td>
					<td th:text="${bookkdrive.date}">E-mail</td>
					<td th:text="${bookkdrive.time}">First Name</td>
					<td th:text="${bookkdrive.username}">Last Name</td>
					
					<td>
					 
					<a th:href="@{/deleteRequest/{id}(id=${bookkdrive.id})}">Delete</a> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div th:insert="footer" ::foot></div>
</body>
</html>